.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    border-bottom: red solid 2px;
    font-size: 1.5em;
    color:antiquewhite;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position:fixed;
    top: 0;
    left:0;
    padding-block: 0.5rem;
    align-items: center;
    width:100%;

}
.header span{
    font-size:2rem;
    font-weight: 500%;
    color:crimson;
}
.header a{
    text-decoration: none;
    padding-inline:0.5rem;
    font-size:1.125rem;
    color:white;
}
.header a:hover{
    background-color: crimson;
    transition:0.3s;
}