.footer{
    left:0;
    position: fixed ;
    bottom:0;
    width:100%;
    color:white;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content:center;
    height:35px;
    border-top:2px solid crimson;
    padding-block: 0.5rem;
}
.footer h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 500%;
}